<section  id="about" class="about-section bg-flower-right-1">
  <div class="container">
    <div class="about-wrapper">
      <img class="about-image" src="../img/about_section/About_image.png" />
      <div class="about-text-block">
        <h2 class="about-title">About the Game</h2>
        <p class="about-text">
           It's a chill mystery game where you explore royal rooms and solve <br>puzzles.
             <br>Queen’s Hidden Match offers a calming gameplay experience where players explore beautifully designed royal environments while solving match-based challenges and searching for hidden objects. Each level introduces new palace locations, decorative elements, and increasingly creative puzzle mechanics.
            The
            whole point is to make it look gorgeous and feel relaxing - no
            stress, just beautiful rooms and a good story. The overall mood
            should feel luxurious, cozy, mysterious, and visually
            polished.
        </p>
        </div>
      </div>
    </div>
  </div>
</section>



