<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <img src="./favicon.svg" alt="Logo" class="logo-img" />
      <!-- <svg class="icon">
        <use href="./img/sprite.svg#logo"></use>
      </svg> -->
      <span class="logo-text">Queen's Hidden Match</span>
    </a>

    <div class="menu-wrapper" data-menu-wrapper>
      <button class="close-menu-btn" aria-label="Close menu" data-burger-close>
        <svg class="icon">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>

      <nav class="header-nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#about" class="nav-link" data-menu-link>About the game</a>
          </li>
          <li class="nav-item">
            <a href="#advantages" class="nav-link" data-menu-link>Advantages</a>
          </li>
          <li class="nav-item">
            <a href="#characters" class="nav-link" data-menu-link>Characters</a>
          </li>
          <li class="nav-item">
            <a href="#gallery" class="nav-link" data-menu-link>Gallery</a>
          </li>
          <li class="nav-item">
            <a href="#faq" class="nav-link" data-menu-link>FAQ</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link" data-menu-link>Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <button class="burger-menu-btn" aria-label="Open menu" data-burger-toggle>
      <svg class="icon">
        <use href="./img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
