<section class="hero-section">
  <div class="container">
    <div class="hero-mobile-content">
      <h1 class="hero-mobile-title">Find Secrets.<br />Match Elegance.</h1>
      <p class="hero-mobile-text">
        Hidden object adventures inside a magical royal
        <br />world.
      </p>
      <a
        href="https://play.google.com/store/apps/details?id=com.messworks.matching.tale.mystery.blast.game&hl=en&gl=us"
        class="google-play-btn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="icon">
          <use href="./img/sprite.svg#google-play"></use>
        </svg>
        Play on Google Play
      </a>
    </div>
  </div>
</section>
