.about-section {
  padding: 80px 0;
  position: relative;
}

.about-section .container {
  position: relative;
}

.about-section .container::after {
  content: '';
  position: absolute;
  right: -50px;
  bottom: -420px;
  width: 580px;
  height: 600px;
  background-image: url('../img/bg_home_page/Dark-Romance-Arrangement-desctop_bg_right.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}

.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.about-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 40px;
  flex-shrink: 0;
}

.about-text-block {
  max-width: 636px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-title {
  color: var(--text);
  font-size: 56px;
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.2;
}

.about-text {
  color: var(--text);
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.6;
  opacity: 0.85;
}

@media (max-width: 1439px) {
  .about-section {
    padding: 40px 0;
    /* overflow: hidden; */
  }

  .about-section .container::after {
    background-image: url('../img/bg_home_page/Dark-Romance-Arrangement-mobile-bg-right.png');
    width: 225px;
    height: 236px;
    right: 0;
    bottom: -160px;
  }

  .about-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .about-image {
    width: 100%;
    max-width: 340px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 24px;
  }

  .about-text-block {
    width: 100%;
    align-items: center;
    gap: 16px;
  }

  .about-title {
    font-size: 32px;
  }

  .about-text {
    font-size: 16px;
    line-height: 1.5;
  }
}
