.header-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-link {
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 200px; /* Менша ширина для акуратності */
  height: 50px;
  border: 1px solid var(--text);
  border-radius: 40px; 
  background: transparent;
  font-family: var(--font-family);
  font-size: 16px; 
  color: var(--text);
  text-decoration: none;
  box-sizing: border-box;
  flex-shrink: 0;
}
.logo-text-back{
  display: none;
}

/* Десктоп */
@media only screen and (min-width: 1440px) {
  .header-back {
    max-width: 1440px;
    padding: 0 72px;
  }
  .back-link {
      width: 350px;
      height: 65px;
      font-size: 20px;
  }
  .logo-text-back{
  display: flex;
}
}

